/*FONT POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/*font-family: 'Poppins', sans-serif;*/

/*FONT BLACKSWORD*/
@font-face{
    src : url(../_ASSETS/_FONTS/Blacksword.otf);
    font-family: 'blacksword';
    font-style: normal;
    font-weight: normal;
}

/*FONT RATIONALE*/
@font-face{
    src : url(../_ASSETS/_FONTS/Rationale-Regular.ttf);
    font-family: 'rationale';
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.hero img{
    width: auto;
    height: 500px;
    border-radius: 3000px;
}

.title{
    font-family: 'blacksword';
    text-align: center;
    font-size: 4rem;
    margin-top: 0.5em;
}

.btnIn{
    font-family: 'rationale';
    text-align: center;
    font-size: 1.5rem;
    width: 200px;
    border-radius: 3000px;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}

.btnIn:hover{
    color: rgb(209, 65, 65);
    cursor: pointer;
    transition: 0.2s all linear;

}

.one, .two{
    width: 100vw;
    height: 100vh;
}

.nav{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoNav img{
    width: auto;
    height: 120px;
}

.brand{
    font-family: 'blacksword';
    font-size: 3rem;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Rationale';
    font-size: 2rem;
}

nav ul li a:hover{
    color: rgb(209, 65, 65);
    transition: 0.2s all linear;
}

.heroImg img{
    width: 100%;
    height: auto;
}

.titleHero{
    font-size: 2rem;
}

.heroText p{
    font-family: 'Poppins', sans-serif;
}

.progressWrapper{
    width: 100%;
}

.progressOne{
    width: 100%;
    text-align: center;
}

.barOne{
    width: 95%;
    border-radius: 3000px;
    margin: 0 auto;
    height: 1.2em;

}

.statusOne{
    height: 100%;
    background-color: #002855;
    border-radius: 3000px;
    border: 1px solid black;
    color: white;
    text-align: center;

}

.progressTwo{
    width: 100%;
    text-align: center;

}

.barTwo{
    width: 95%;
    border-radius: 3000px;
    margin: 0 auto;
    height: 1.2em;

}

.statusTwo{
    height: 100%;
    background-color: #55001F;
    border-radius: 3000px;
    border: 1px solid black;
    color: white;
    text-align: center;

}